@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');

.product{
    margin: 8% 15% 4% 15%;
    width:70%;
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    background-color: #e6dcdc;
}

.img{
    width: 30%;
    height: 35vh;
    background-color: white;
    align-self: flex-start;
    margin: 30px 20px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img button{
    background-color: white;
}

.info{
    height: 50vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    font-family: "Carrois Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-self: center;
    margin-top: 30px;
    justify-content: space-around;
}

.info span:nth-child(3){
    width: fit-content;
    margin-bottom: 0px;
}

.price{
    align-self: self-end;
    font-family: "Carrois Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.info input, .info select{
    width: 70%;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    display: block;
    font-family: "Carrois Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.info textarea{
    width: 70%;
    height: 60px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    display: block;
    resize: none;
}

.material-symbols-outlined {
  font-size: 100px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 1,
  'opsz' 24
}

.addImg{
    height: fit-content;
    background-color: white;
}

#add{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 13vh;
}

#add button{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    border-bottom: 10px;
    border-radius: 5px;
    width: 45%;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: "Carrois Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.quantity button{
    height: 30px;
    width: fit-content;
    background-color: white;
    border-radius: 5px;
    margin: 0px;
}
.quantity{
    width: fit-content;
    height: 30px;
    display: flex;
    flex-direction: row;
}

.quantity input{
    width: 60px;
}

#add .cancel{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    border-bottom: 10px;
    border-radius: 5px;
    width: 25%;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: "Carrois Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: rgb(243, 200, 108);
}

input[type="button"]:hover {
    background-color: rgb(243, 200, 108);
}